---
export const prerender = true;
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import { HeroSlider } from "../components/Home/Hero01/HeroSlider";
import Hero from "../components/Home/Hero.astro";
import Services from "../components/Home/Services.astro";
import CardService from "../components/Home/CardService.astro";
import Experience from "../components/Home/Experience.astro";
import Company from "../components/Home/Company.astro";
import { Image } from "astro:assets";
import imageParallax from "../assets/images/ParallaxExpSection.png";
import Products from "../components/Home/Products.astro";
import ContactSection from "../components/Home/ContactSection.astro";

import sliderImages from "../assets/images/slider/index";
const { image01, image02, image03, image04 } = sliderImages;

changeLanguage("en");
---

<Layout title={t("titles.home")}>
  <HeroSlider client:load>
    <Image src={image01} alt="Company" slot="image01" />
    <Image src={image02} alt="Company" slot="image02" />
    <Image src={image03} alt="Company" slot="image03" />
    <Image src={image04} alt="Company" slot="image04" />
    <Hero slot="content" />
  </HeroSlider>
  <Services>
    <CardService
      title={t("site_home.card01_title")}
      text={t("site_home.card01_body")}
      icon="mdi:radio-tower"
    />
    <CardService
      title={t("site_home.card02_title")}
      text={t("site_home.card02_body")}
      icon="mdi:tools"
    />
    <CardService
      title={t("site_home.card03_title")}
      text={t("site_home.card03_body")}
      icon="mdi:map-search-outline"
    />
    <div class="break"></div>
    <CardService
      title={t("site_home.card04_title")}
      text={t("site_home.card04_body")}
      icon="mdi:settings"
    />
    <CardService
      title={t("site_home.card05_title")}
      text={t("site_home.card05_body")}
      icon="mdi:clipboard-check"
    />
    <CardService
      title={t("site_home.card06_title")}
      text={t("site_home.card06_body")}
      icon="iconoir:antenna"
    />
  </Services>
  <Image src={imageParallax} alt="Company" class={"break-section-image"} />
  <Company />
  <Experience />
  <Products />
  <ContactSection />
  <!-- Sections -->
</Layout>

<script>
  const button = document.querySelectorAll(".cta-button");

  button.forEach((button) => {
    const href = button?.querySelector("a")?.href || "#";
    button.addEventListener("click", () => {
      window.location.href = href;
    });
  });
</script>

<style lang="scss">
  @use "../assets/scss/base/_breakpoint.scss" as *;
  .break {
    display: none;
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: block;
      flex-basis: 100%;
      height: 1px;
    }
  }

  .break-section-image {
    width: 100%;
    margin: 40px;
    @include breakpoint(530px) {
      display: none;
    }
  }
</style>
