---
import { changeLanguage, t } from "i18next";
import CardServicesLeft from "../components/CardServicesLeft.astro";
import CardServicesRight from "../components/CardServicesRight.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");

const services = [
    {
        body: t("our_services.cards.0"),
        icon: "mdi:radio-tower",
    },
    {
        body: t("our_services.cards.1"),
        icon: "mdi:tools",
    },
    {
        body: t("our_services.cards.2"),
        icon: "mdi:map-search-outline",
    },
    {
        body: t("our_services.cards.3"),
        icon: "mdi:form-select",
    },
    {
        body: t("our_services.cards.4"),
        icon: "mdi:file-document",
    },
    {
        body: t("our_services.cards.5"),
        icon: "mdi:hammer",
    },
    {
        body: t("our_services.cards.6"),
        icon: "mdi:recycle",
    },
    {
        body: t("our_services.cards.7"),
        icon: "mdi:cog-outline",
    },
    {
        body: t("our_services.cards.8"),
        icon: "mdi:clipboard-check",
    },
    {
        body: t("our_services.cards.9"),
        icon: "mdi:settings",
    },
    {
        body: t("our_services.cards.10"),
        icon: "mdi:trending-up",
    },
    {
        body: t("our_services.cards.11"),
        icon: "mdi:wrench",
    },
];
---

<Layout title="Services">
  <section class="contenedor">
    <h1 class="h1">{t("our_services.our_services_title")}</h1>
    <p class="intro">
      {t("our_services.our_services_info")}
    </p>
    <div class="cards">
      <div class="mobile">
        {
          services.map(({ body, icon }, i) => {
            if (i % 2 === 0) {
              return (
                <CardServicesLeft
                  body={body}
                  icon={icon}
                  number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                  background="rgba(2, 0, 21, 0.6)"
                />
              );
            } else {
              return (
                <CardServicesRight
                  body={body}
                  icon={icon}
                  number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                  background="#06342C99"
                />
              );
            }
          })
        }
      </div>
      <div class="desktop">
        {
          services.map(({ body, icon }, i) => {
            let background;
            if (Math.floor(i / 3) % 2 === 0) {
              background = "rgba(2, 0, 21)";
            } else {
              background = "#06342C";
            }
            return (
              <CardServicesRight
                body={body}
                icon={icon}
                number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                background={background}
              />
            );
          })
        }
      </div>
    </div>
    <div class="trabajo">
      <div>
        <h1>{t("our_services.ready_work")}</h1>
        <p class="p">
          {t("our_services.readdy_work_text01")}
        </p>
        <div class="work">
          <ul>
            <li>
              {t("our_services.readdy_work_text02")}
            </li>
            <li>
              {t("our_services.readdy_work_text03")}
            </li>
            <li>
              {t("our_services.readdy_work_text04")}
            </li>
          </ul>
        </div>
      </div>
      <img
        src="../../public/senorPoste.jpeg"
        alt="Trabajo en altura"
        width="342px"
        height="304px"
        class="img"
      />
    </div>
  </section>

  <style lang="scss">
    @use "../assets/scss/base/_breakpoint.scss" as *;

    .contenedor {
      position: relative;
    }
    .h1 {
      color: var(--color-emerald);
      font-size: 24px;
      font-weight: 600;
      margin-left: 65px;
      margin-top: 30px;
      @include breakpoint(md) {
        margin-left: 187px;
        font-size: 40px;
      }
    }

    .intro {
      margin: 30px 65px 30px 65px;
      font-size: 18px;
      font-weight: 500;
      @include breakpoint(md) {
        margin: 30px 187px 30px 187px;
        font-size: 24px;
      }
    }

    .nombre {
      color: var(--emphasis-color);
    }
    .p {
      font-size: 18px;
      margin: 0 65px 0 65px;
      margin-top: 10px;
      @include breakpoint(md) {
        font-size: 24px;
        margin: 0;
      }
    }

    .work {
      box-sizing: border-box;
      padding: 20px 65px 20px 65px;
      @include breakpoint(md) {
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        padding: 0px;
      }
    }

    .trabajo img {
      display: none;
      @include breakpoint(md) {
        display: block;
      }
    }

    .trabajo h1 {
      color: var(--color-emerald);
      font-size: 24px;
      font-weight: 600;
      margin-left: 65px;
      margin-top: 30px;
      @include breakpoint(md) {
        margin-left: 0px;
        font-size: 40px;
        margin-bottom: 17px;
      }
    }

    .trabajo {
      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px 180px 20px 180px;
        gap: 40px;
      }
    }
    .work ul {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 20px;
      @include breakpoint(md) {
        font-size: 24px;
        padding-left: 0px;
      }
    }

    .mobile {
      box-sizing: border-box;
      padding: 20px 40px 40px 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include breakpoint(md) {
        display: none;
        font-size: 20px;
      }
    }

    .desktop {
      display: none;
      box-sizing: border-box;
      padding: 20px 187px 40px 187px;
      gap: 30px;

      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  </style>
</Layout>
