---
import { changeLanguage, t } from "i18next";
import CardServicesLeft from "../../components/CardServicesLeft.astro";
import CardServicesRight from "../../components/CardServicesRight.astro";
import Layout from "../../layouts/Layout.astro";

changeLanguage("es");

const services = [
  {
    body: "Installation of equipment for Internet distribution to remote areas of interest.",
    icon: "mdi:radio-tower",
  },
  {
    body: "Promote configuration administration, and support solutions for the main technologies according to your requirements.",
    icon: "mdi:tools",
  },
  {
    body: "Preparation of site survey for new LTE sites; delivery of reports with plans in sketch-up.",
    icon: "mdi:map-search-outline",
  },
  {
    body: "Preparation of site survey for 3G, 4G and 5G network expansions, taking photographic records and delivery of reports.",
    icon: "mdi:form-select",
  },
  {
    body: "Services of personnel dedicated to preparing reports required by the operator to control the correct installation of the equipment in the quality area.",
    icon: "mdi:file-document",
  },
  {
    body: "Maintenance service for radio bases of the different 2G, 3G and 4G cellular network review of microwave and satellite links.",
    icon: "mdi:hammer",
  },
  {
    body: "Disassembly of cellular network equipment and return of these to the warehouse duly inventoried.",
    icon: "mdi:recycle",
  },
  {
    body: "Commissioning, configuration, and probe of cellular services network solutions according to operator parameters.",
    icon: "mdi:cog-outline",
  },
  {
    body: "Site master tests, PIM master measurement, VER, to guarantee the correct implementation of the network solution.",
    icon: "mdi:clipboard-check",
  },
  {
    body: "Cellular network optimization in different technologies according to specific parameters of the RF area.",
    icon: "mdi:settings",
  },
  {
    body: "Expansion of the capacity of the different cellular network technologies to improve traffic performance.",
    icon: "mdi:trending-up",
  },
  {
    body: "Installation, disassembly, and maintenance of microwave links (NEC, Siemens, Ericsson, among others).",
    icon: "mdi:wrench",
  },
  {
    body: "Installation of satellite links from brands such as Embratel, HughesNet and fiber optic networks.",
    icon: "mdi:satellite-variant",
  },
  {
    body: "Installation of servers, intelligent cabinets adjusted to the dimensioning of the client's network.",
    icon: "mdi:server",
  },
  {
    body: "We install reliable and high-quality CCTV video surveillance systems, according to the needs of the client.",
    icon: "mdi:camera-outline",
  },
  {
    body: "Installation of data networks, based on UTP cable, fiber optics and other types of connectivity that allow the integration of different internet, voice, data, and alarm services.",
    icon: "mdi:network",
  },
  {
    body: "Installation, commissioning and testing of the power systems / backup D.C, A.C (Power Eltek, power ZTE) with alarm wiring to manage its operation.",
    icon: "mdi:power-plug",
  },
];
---

<Layout title="Services">
  <section class="contenedor">
    <h1 class="h1">{t("our_services.our_services_title")}</h1>
    <p class="intro">
      <span class="nombre">{t("our_services.IP_Moviles")}</span>
      {t("our_services.our_services_info")}
    </p>
    <div class="cards">
      <div class="mobile">
        {
          services.map(({ body, icon }, i) => {
            if (i % 2 === 0) {
              return (
                <CardServicesLeft
                  body={body}
                  icon={icon}
                  number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                  background="rgba(2, 0, 21, 0.6)"
                />
              );
            } else {
              return (
                <CardServicesRight
                  body={body}
                  icon={icon}
                  number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                  background="#06342C99"
                />
              );
            }
          })
        }
      </div>
      <div class="desktop">
        {
          services.map(({ body, icon }, i) => {
            let background;
            if (Math.floor(i / 3) % 2 === 0) {
              background = "rgba(2, 0, 21)";
            } else {
              background = "#06342C";
            }
            return (
              <CardServicesRight
                body={body}
                icon={icon}
                number={i < 9 ? `0${i + 1}` : `${i + 1}`}
                background={background}
              />
            );
          })
        }
      </div>
    </div>
    <div class="trabajo">
      <div>
        <h1>We are ready to work</h1>
        <p class="p">
          We got everything in order to work and fulfill all your requeriments.
        </p>
        <div class="work">
          <ul>
            <li>
              We prioritize safety through certified HSEQ teams and
              comprehensive training.
            </li>
            <li>
              Our technical staff receives advanced training, including safe
              driving and working at heights.
            </li>
            <li>
              We have a fleet for logistics and testing to ensure quality
              nationwide.
            </li>
          </ul>
        </div>
      </div>
      <img
        src="../../public/senorPoste.jpeg"
        alt="Trabajo en altura"
        width="342px"
        height="304px"
        class="img"
      />
    </div>
  </section>

  <style lang="scss">
    @use "../../assets/scss/base/_breakpoint.scss" as *;

    .contenedor {
      position: relative;
    }
    .h1 {
      color: var(--color-emerald);
      font-size: 24px;
      font-weight: 600;
      margin-left: 65px;
      margin-top: 30px;
      @include breakpoint(md) {
        margin-left: 187px;
        font-size: 40px;
      }
    }

    .intro {
      margin: 30px 65px 30px 65px;
      font-size: 18px;
      font-weight: 500;
      @include breakpoint(md) {
        margin: 30px 187px 30px 187px;
        font-size: 24px;
      }
    }

    .nombre {
      color: var(--emphasis-color);
    }
    .p {
      font-size: 18px;
      margin: 0 65px 0 65px;
      margin-top: 10px;
      @include breakpoint(md) {
        font-size: 24px;
        margin: 0;
      }
    }

    .work {
      box-sizing: border-box;
      padding: 20px 65px 20px 65px;
      @include breakpoint(md) {
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        padding: 0px;
      }
    }

    .trabajo img {
      display: none;
      @include breakpoint(md) {
        display: block;
      }
    }

    .trabajo h1 {
      color: var(--color-emerald);
      font-size: 24px;
      font-weight: 600;
      margin-left: 65px;
      margin-top: 30px;
      @include breakpoint(md) {
        margin-left: 0px;
        font-size: 40px;
        margin-bottom: 17px;
      }
    }

    .trabajo {
      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px 180px 20px 180px;
        gap: 40px;
      }
    }
    .work ul {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-left: 20px;
      @include breakpoint(md) {
        font-size: 24px;
        padding-left: 0px;
      }
    }

    .mobile {
      box-sizing: border-box;
      padding: 20px 40px 40px 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include breakpoint(md) {
        display: none;
        font-size: 20px;
      }
    }

    .desktop {
      display: none;
      box-sizing: border-box;
      padding: 20px 187px 40px 187px;
      gap: 30px;

      @include breakpoint(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
  </style>
</Layout>
